.home-section {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px; /* Espaçamento entre os elementos */
  color: white;
  text-align: center;
  overflow: hidden;
  padding: 10px; /* Adiciona espaçamento interno */
  height: 100vh; /* Ocupa toda a altura da viewport */
}

.home-content {
  z-index: 2;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.welcome-text {
  grid-column: span 2;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}

.typewriter {
  font-size: 2em; /* Tamanho da fonte da frase de boas-vindas */
  font-weight: bold;
}

.highlight {
  color: #f7df1e; /* Destaca a palavra "digital" em amarelo */
}

.heading {
  font-size: 3.5em; /* Aumenta o tamanho da fonte */
  font-weight: bold;
  margin-bottom: 40px; /* Espaço entre o título e o texto */
}

.description {
  width: 100%;
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  margin-top: 20px;
  margin-bottom: 40px; /* Espaço entre a descrição e o botão */
}

.cta-button {
  margin-top: 20px; /* Espaço acima do botão */
  padding: 10px 20px; /* Ajusta o tamanho do botão */
  font-size: 1em; /* Ajusta o tamanho da fonte do botão */
  background-color: #f7df1e;
  color: #222;
  border: none;
  border-radius: 5px; /* Bordas arredondadas para um toque mais suave */
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #f7df1e;
  background-color: #e5c700; /* Altera a cor do fundo quando o botão é hover */
}

.home-image {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-image img {
  width: 300px; /* Define um tamanho fixo para a imagem */
  height: 300px; /* Define um tamanho fixo para a imagem */
  border-radius: 50%; /* Torna a imagem circular */
  border: 2px solid #fff; /* Adiciona uma borda branca */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
  object-fit: cover; /* Garante que a imagem se ajuste corretamente dentro do círculo */
}

@media (max-width: 768px) {
  .heading {
    font-size: 2.5em; /* Ajusta o tamanho da fonte em telas menores */
  }

  .description {
    font-size: 1.2em; /* Ajusta o tamanho da descrição para telas menores */
  }

  .cta-button {
    font-size: 1.2em;
    padding: 10px 25px;
  }

  .home-image {
    margin-top: 20px;
  }

  .home-image img {
    width: 150px; /* Ajusta o tamanho da imagem para telas menores */
    height: 150px; /* Ajusta o tamanho da imagem para telas menores */
  }
}