.footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #f7df1e; /* Cor amarela para os ícones */
    font-size: 2em;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #e5c700; /* Cor amarela mais escura ao passar o mouse */
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9em;
  }